.about-container{
    text-align: center;
    margin-top: 10%;
}
.facebook{
height: 50px;
width: 50px;
background-color: white;
color: rgba(7, 7, 243, 0.921);
border-radius: 5px;
font-weight: 900;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
cursor: pointer;
margin-left: 10px;
}
.footer{
    margin-top: 20%;
}