.search-Fild{
    display: flex;
    height: 100px;
    width: 100%;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
    margin-top: 3%;
}


.search-Fild img{
    margin: 5px;
    height: 200px;
    width: 200px;
}

.search {
    width: 30%;
    
    
}

ul li {
    font-size: 20px;
} 