.search-Fild{
    display: flex;
    height: 100px;
    width: 100%;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
    margin-top: 1%;
}


.search-Fild img{
    margin: 5px;
    height: 50px;
    width: 50px;
    align-items: center;
}
.country-container{
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 30px;
}

.search {
    width: 30%;
    
    
}

ul li {
    font-size: 20px;
} 