.country{
    border: 1px solid rgb(245, 237, 237);
    border-radius: 5px;
    height: 400px;
    width: 300px;
    background-color: rgb(241, 238, 93);
    text-align: center;
    top: 10px;
    position: relative;
    
  
   
}
.btn{
   
    position: absolute;
    bottom: 0;
    
}
